In [0]:
#       .
#       |
#       |
#    ,-'"`-.
#  ,'       `.
#  |  _____  |      .-( HEY baby,lets go out)
#  | (_o_o_) |    ,'    ( and kill all humans.)
#  |         | ,-'
#  | |HHHHH| |
#  | |HHHHH| |
#-'`-._____.-'`-

#Utilizando uma Rede Neural para predição de fala do seriado Friends

In [0]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

import torch
import string
import random
import re
import time, math

import torch.utils.data as utils
import torch
from torch.utils.data import Dataset, DataLoader
from torchvision import transforms, utils
import seaborn as sn
from sklearn.metrics import confusion_matrix

import torchvision
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import collections

import torch.nn as nn
from torch.autograd import Variable
import torch
import torch.utils.data as utils
import csv


def time_since(since):
    s = time.time() - since
    m = math.floor(s / 60)
    s -= m * 60
    return '%dm %ds' % (m, s)

In [0]:
from google.colab import files

with open('train_dataset.txt') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    #line_count = 0
   # for row in csv_reader:
       # print(f'\t Frase {row[0]}: {row[1]}  Label/personagem: {row[2]}.')

#Treinamento

In [0]:
# carregar o dataset de treino

raw_data1 = pd.read_csv('train_dataset.txt')
raw_data1.head()

   Sr No.  ...       EndTime
0       1  ...  00:16:21,731
1       2  ...  00:16:23,442
2       3  ...  00:16:26,389
3       4  ...  00:16:29,572
4       5  ...  00:16:40,917

[5 rows x 11 columns]

In [0]:
# remover colunas não relevantes

data1 = raw_data1.drop(["Sr No.", "Emotion", "Sentiment","Dialogue_ID","Utterance_ID","Season","Episode","StartTime","EndTime"], axis= 1)
data1.head()

                                           Utterance          Speaker
0  also I was the point person on my companys tr...         Chandler
1                   You mustve had your hands full.  The Interviewer
2                            That I did. That I did.         Chandler
3      So lets talk a little bit about your duties.  The Interviewer
4                             My duties?  All right.         Chandler

In [0]:
print("The number of rows in train_dataset are {}".format(len(data1)))

The number of rows in train_dataset are 9989

In [0]:
#Normalizar o dataset com targets com 1 char apenas
# sendo eles: 
#   c= Chandler
#   r = Rachel
#   R = Ross
#   m = Monica
#   p = Phoebe
#   j = Joey
#   o = others speakers


for i in range(len(data1)):
    if(data1.iloc[i][-1] == 'Chandler'):
        data1.loc[i][-1] = 'c'
    elif(data1.iloc[i][-1] == 'Rachel'):
        data1.loc[i][-1] = 'r'
    elif(data1.iloc[i][-1] == 'Ross'):
        data1.loc[i][-1] = 'R'
    elif(data1.iloc[i][-1] == 'Monica'):
        data1.loc[i][-1] = 'm'
    elif(data1.iloc[i][-1] == 'Phoebe'):
        data1.loc[i][-1] = 'p'
    elif(data1.iloc[i][-1] == 'Joey'):
        data1.loc[i][-1] = 'j'
    else:
        data1.loc[i][-1] = 'o'
    
data1.sample(frac=1) 
data1.head()

                                           Utterance Speaker
0  also I was the point person on my companys tr...       c
1                   You mustve had your hands full.       o
2                            That I did. That I did.       c
3      So lets talk a little bit about your duties.       o
4                             My duties?  All right.       c

In [0]:
#normalizar o dataset, tirando os diálogos com menos de 20 de legth
 #if(len(data1.iloc[i][0])<20):
       # data1 = data1.drop([i], axis=0)

#data1 = data1.drop([0], axis=0)
#data1 = data1.drop([1], axis=0)
data1 = data1[data1['Utterance'].map(len) > 20]
data1 = data1[data1['Speaker'] != 'o']

In [0]:
print(len(data1))
data1.head()

5568

                                            Utterance Speaker
0   also I was the point person on my companys tr...       c
2                             That I did. That I did.       c
4                              My duties?  All right.       c
10                             No dont I beg of you!       c
14  But then who? The waitress I went out with las...       j

In [0]:
#np.savetxt(r'C:\Users\mo0n\Documents\Faculdadestuff\Rede Neural\test.txt', data1.values, fmt='%s')

In [0]:
file = open('test.txt').read()
all_characters = ''.join(set(file))
n_characters = len(all_characters)
print(all_characters)
print(n_characters)
file_len = len(file)
print('file_len =', file_len)


T"u9dN(8tX…7&'Hóqp6Abx$BeJhyK—#*Z:si aG?onSwWO!QvFr5LUYf31gcl04kRm.M,IzP2é-CD/j][;V’E%
94
file_len = 483211

In [0]:
chunk_len = 150

# Gera um pedaço aleatório de texto com o tamanho especificado em chuck_len
def random_chunk():
    index = random.randint(0, len(data1)-1)
    
    data = data1.iloc[index][0]
    
    for i in range(200-len(data)):#normaliza os chunks com tamanho igual
        data+='/0'
        
    return data, index
    
print(random_chunk())

('Wh\x97no, but y\x92know who did stop in here looking for ya, Tennille./0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0/0', 1647)

In [0]:

def char_tensor(string):
    tensor = torch.zeros(len(string)).long()
    for c in range(len(string)):
        try:
            tensor[c] = all_characters.index(string[c])
        except:
            print(c)
            raise
    return Variable(tensor)

print(char_tensor('abcDEF'))

tensor([40, 22, 65, 84, 92, 52])

In [0]:
# Gera um 'exemplo' aleatório (um pedaço aleatório convertido para lista de inteiros)
def random_training_set():    
    chunk, index = random_chunk()
    inp = char_tensor(chunk[:-1])
    target = data1.iloc[index][-1]
    target = char_tensor(target)
    return inp, target

print(random_training_set())
#tensor = random_training_set()
#print(tensor)
#if(tensor[0][199] == 3) :
   # print("sim!")

(tensor([ 2, 29, 40, 10, 15, 37, 39,  6, 38, 58, 58, 27, 53, 27, 44, 10, 49, 39,
        76, 39, 46, 40, 37, 39,  6, 53,  4, 44, 69, 39, 40, 44,  6, 39, 37, 10,
         4, 19, 38,  6, 49, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85,
        67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85,
        67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85,
        67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85,
        67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85,
        67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85,
        67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85,
        67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85,
        67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85,
        67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85,
        67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85,
        67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85,
        67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85,
        67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85,
        67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85,
        67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85,
        67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85,
        67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85, 67, 85]), tensor([72]))

In [0]:
class RNN(nn.Module):
    def __init__(self, input_size, hidden_size, output_size, n_layers=1):
        super(RNN, self).__init__()
        self.input_size = input_size
        self.hidden_size = hidden_size
        self.output_size = output_size
        self.n_layers = n_layers
        
        self.encoder = nn.Embedding(input_size, hidden_size)
        self.lstm = nn.LSTM(hidden_size, hidden_size, n_layers)
        self.decoder = nn.Linear(hidden_size, output_size)
    
    def forward(self, input, hidden, hidden2):
        input = self.encoder(input.view(1, -1))
        output, (hidden, hidden2) = self.lstm(input.view(1, 1, -1), (hidden, hidden2))
        decoded_output = self.decoder(output.view(1, -1))
        return decoded_output, hidden, hidden2

    def init_hidden(self):
        return Variable(torch.zeros(self.n_layers, 1, self.hidden_size))

In [0]:
# Gera um texto iniciando com "prime_str" de tamanho "predict_len" e variação definida por "temperature"
def evaluate(prime_str='A', predict_len=1, temperature=0.8):
    hidden = rnn.init_hidden().cuda()
    hidden2 = rnn.init_hidden().cuda()
    prime_input = char_tensor(prime_str).cuda()
    predicted = ''

    # prime_str é o texto inicial que o gerado irá completar
    for p in range(len(prime_str) - 1):
        _, hidden, hidden2 = rnn(prime_input[p], hidden, hidden2)
    inp = prime_input[-1]
    
    for p in range(predict_len):
        output, hidden, hidden2 = rnn(inp, hidden, hidden2)
        
        # Usa a temperatura para amostrar a distribuição e escolher a saída probabilísticamente
        output_dist = output.data.view(-1).div(temperature).exp()
        top_i = torch.multinomial(output_dist, 1)[0]
        
        # Adiciona o caracter predito à string de saída
        predicted_char = all_characters[top_i]
        predicted += predicted_char
        inp = char_tensor(predicted_char).cuda()

    return predicted

In [0]:
# Treina sobre um exemplo (i.e. uma amostragem do texto)

def train(inp, target):
    hidden = rnn.init_hidden()
    hidden2 = rnn.init_hidden()
    rnn.zero_grad()
    loss = 0

    inp = inp.cuda()
    hidden = hidden.cuda()
    hidden2 = hidden2.cuda()
    for c in range(chunk_len):
        if(inp[c] != 27):
            output, hidden, hidden2 = rnn(inp[c], hidden, hidden2)
            loss += loss_metric(output, target[0].unsqueeze(0))
        else:
            break

    loss.backward()
    optimizer.step()

    return loss.data.item() / chunk_len

In [0]:
n_epochs = 30000
print_every = 100
hidden_size = 512
n_layers = 2
lr = 0.0005

cuda = torch.device('cuda')

rnn = RNN(n_characters, hidden_size, n_characters, n_layers)
rnn.cuda()

optimizer = torch.optim.Adam(rnn.parameters(), lr=lr)
loss_metric = nn.CrossEntropyLoss()

start = time.time()
all_losses = []
loss_avg = 0

for epoch in range(1, n_epochs + 1):
    example = random_training_set()
    #print(example[0])
    loss = train(example[0].cuda(),example[1].cuda())       
    loss_avg += loss

    if epoch % print_every == 0:
        print('[%s (%d %d%%) %.4f]' % (time_since(start), epoch, epoch / n_epochs * 100, loss))
       # print(evaluate('The', 100), '\n')

[0m 4s (100 0%) 0.2843]
[0m 9s (200 0%) 0.1098]
[0m 14s (300 1%) 0.0777]
[0m 17s (400 1%) 0.1505]
[0m 24s (500 1%) 0.3692]
[0m 29s (600 2%) 0.2480]
[0m 35s (700 2%) 0.1512]
[0m 38s (800 2%) 0.0257]
[0m 42s (900 3%) 0.1125]
[0m 47s (1000 3%) 0.0697]
[0m 51s (1100 3%) 0.0254]
[0m 56s (1200 4%) 0.2713]
[1m 3s (1300 4%) 0.1767]
[1m 6s (1400 4%) 0.0175]
[1m 10s (1500 5%) 0.0457]
[1m 14s (1600 5%) 0.3350]
[1m 19s (1700 5%) 0.3319]
[1m 23s (1800 6%) 0.0776]
[1m 28s (1900 6%) 1.8097]
[1m 31s (2000 6%) 0.0135]
[1m 36s (2100 7%) 0.0130]
[1m 40s (2200 7%) 0.0610]
[1m 43s (2300 7%) 0.1636]
[1m 49s (2400 8%) 0.0075]
[1m 53s (2500 8%) 0.4687]
[1m 58s (2600 8%) 0.1432]
[2m 2s (2700 9%) 0.0130]
[2m 7s (2800 9%) 0.2376]
[2m 11s (2900 9%) 0.0551]
[2m 16s (3000 10%) 0.0522]
[2m 21s (3100 10%) 0.2523]
[2m 25s (3200 10%) 0.1236]
[2m 30s (3300 11%) 0.0095]
[2m 35s (3400 11%) 0.0118]
[2m 39s (3500 11%) 0.1639]
[2m 44s (3600 12%) 0.4200]
[2m 48s (3700 12%) 0.4032]
[2m 53s (3800 12%) 0.2653]
[2m 57s (3900 13%) 0.0855]
[3m 2s (4000 13%) 0.0579]
[3m 9s (4100 13%) 0.1527]
[3m 15s (4200 14%) 0.2168]
[3m 18s (4300 14%) 0.0877]
[3m 23s (4400 14%) 0.1879]
[3m 27s (4500 15%) 0.1573]
[3m 30s (4600 15%) 0.0111]
[3m 35s (4700 15%) 0.1553]
[3m 40s (4800 16%) 0.0478]
[3m 44s (4900 16%) 0.1242]
[3m 49s (5000 16%) 0.1756]
[3m 54s (5100 17%) 0.1872]
[4m 0s (5200 17%) 0.0360]
[4m 5s (5300 17%) 0.1771]
[4m 11s (5400 18%) 0.0095]
[4m 16s (5500 18%) 0.4083]
[4m 20s (5600 18%) 0.0582]
[4m 25s (5700 19%) 0.0768]
[4m 29s (5800 19%) 0.1863]
[4m 34s (5900 19%) 0.1849]
[4m 38s (6000 20%) 0.0257]
[4m 42s (6100 20%) 0.2456]
[4m 46s (6200 20%) 0.2456]
[4m 49s (6300 21%) 0.2659]
[4m 55s (6400 21%) 0.1688]
[4m 59s (6500 21%) 0.0996]
[5m 3s (6600 22%) 0.1994]
[5m 8s (6700 22%) 0.0962]
[5m 13s (6800 22%) 0.0264]
[5m 18s (6900 23%) 0.2363]
[5m 23s (7000 23%) 0.0084]
[5m 28s (7100 23%) 0.4239]
[5m 32s (7200 24%) 0.0095]
[5m 37s (7300 24%) 0.1021]
[5m 43s (7400 24%) 0.1453]
[5m 48s (7500 25%) 0.0116]
[5m 52s (7600 25%) 0.1311]
[5m 56s (7700 25%) 0.0131]
[6m 0s (7800 26%) 0.2003]
[6m 5s (7900 26%) 0.0125]
[6m 9s (8000 26%) 0.1321]
[6m 12s (8100 27%) 0.0572]
[6m 15s (8200 27%) 0.0393]
[6m 19s (8300 27%) 0.0113]
[6m 23s (8400 28%) 0.3814]
[6m 29s (8500 28%) 0.1246]
[6m 32s (8600 28%) 0.3269]
[6m 37s (8700 28%) 0.0118]
[6m 42s (8800 29%) 0.0352]
[6m 47s (8900 29%) 2.4325]
[6m 52s (9000 30%) 0.0794]
[6m 57s (9100 30%) 0.1823]
[7m 2s (9200 30%) 0.0312]
[7m 6s (9300 31%) 0.0548]
[7m 10s (9400 31%) 0.0133]
[7m 15s (9500 31%) 0.0888]
[7m 20s (9600 32%) 0.4107]
[7m 24s (9700 32%) 0.2139]
[7m 29s (9800 32%) 0.0315]
[7m 34s (9900 33%) 0.0920]
[7m 38s (10000 33%) 0.3907]
[7m 44s (10100 33%) 1.2575]
[7m 49s (10200 34%) 0.0140]
[7m 53s (10300 34%) 0.0134]
[7m 59s (10400 34%) 0.0558]
[8m 3s (10500 35%) 0.1617]
[8m 7s (10600 35%) 0.3359]
[8m 10s (10700 35%) 0.0691]
[8m 14s (10800 36%) 0.0597]
[8m 20s (10900 36%) 0.3253]
[8m 24s (11000 36%) 0.1966]
[8m 28s (11100 37%) 0.0329]
[8m 32s (11200 37%) 0.0120]
[8m 37s (11300 37%) 0.2268]
[8m 41s (11400 38%) 0.4009]
[8m 46s (11500 38%) 0.0506]
[8m 49s (11600 38%) 0.0153]
[8m 54s (11700 39%) 0.0419]
[8m 58s (11800 39%) 0.1732]
[9m 3s (11900 39%) 0.0614]
[9m 7s (12000 40%) 0.1038]
[9m 12s (12100 40%) 0.1039]
[9m 18s (12200 40%) 0.0116]
[9m 21s (12300 41%) 0.0141]
[9m 25s (12400 41%) 0.0127]
[9m 30s (12500 41%) 0.0132]
[9m 34s (12600 42%) 0.1962]
[9m 38s (12700 42%) 0.0511]
[9m 44s (12800 42%) 0.0568]
[9m 49s (12900 43%) 0.2027]
[9m 53s (13000 43%) 0.0355]
[9m 58s (13100 43%) 0.0114]
[10m 2s (13200 44%) 0.3599]
[10m 8s (13300 44%) 0.0291]
[10m 13s (13400 44%) 0.1668]
[10m 17s (13500 45%) 0.2575]
[10m 22s (13600 45%) 0.0060]
[10m 27s (13700 45%) 0.0374]
[10m 31s (13800 46%) 0.2827]
[10m 36s (13900 46%) 0.0973]
[10m 40s (14000 46%) 0.1792]
[10m 45s (14100 47%) 0.3416]
[10m 49s (14200 47%) 0.1569]
[10m 53s (14300 47%) 0.0131]
[10m 56s (14400 48%) 0.0125]
[11m 1s (14500 48%) 0.0127]
[11m 4s (14600 48%) 0.0998]
[11m 10s (14700 49%) 0.1693]
[11m 15s (14800 49%) 0.3018]
[11m 19s (14900 49%) 0.0112]
[11m 23s (15000 50%) 0.0520]
[11m 27s (15100 50%) 0.1208]
[11m 31s (15200 50%) 0.0239]
[11m 35s (15300 51%) 1.4784]
[11m 39s (15400 51%) 0.1815]
[11m 43s (15500 51%) 0.0231]
[11m 48s (15600 52%) 0.0131]
[11m 51s (15700 52%) 0.0116]
[11m 55s (15800 52%) 0.0591]
[12m 0s (15900 53%) 2.2141]
[12m 5s (16000 53%) 0.0131]
[12m 9s (16100 53%) 0.3600]
[12m 13s (16200 54%) 0.2276]
[12m 17s (16300 54%) 0.3703]
[12m 21s (16400 54%) 0.3895]
[12m 26s (16500 55%) 0.0248]
[12m 32s (16600 55%) 0.0982]
[12m 36s (16700 55%) 0.0297]
[12m 40s (16800 56%) 0.2093]
[12m 44s (16900 56%) 0.2368]
[12m 49s (17000 56%) 0.1281]
[12m 53s (17100 56%) 0.5302]
[12m 57s (17200 57%) 0.0118]
[13m 1s (17300 57%) 0.0394]
[13m 5s (17400 57%) 0.0978]
[13m 9s (17500 58%) 0.2011]
[13m 15s (17600 58%) 0.2127]
[13m 19s (17700 59%) 0.0260]
[13m 23s (17800 59%) 0.0471]
[13m 27s (17900 59%) 0.1309]
[13m 34s (18000 60%) 0.1036]
[13m 39s (18100 60%) 0.2167]
[13m 46s (18200 60%) 0.0247]
[13m 50s (18300 61%) 0.3269]
[13m 55s (18400 61%) 0.0233]
[14m 0s (18500 61%) 0.0494]
[14m 4s (18600 62%) 0.2356]
[14m 9s (18700 62%) 0.1131]
[14m 13s (18800 62%) 0.0098]
[14m 17s (18900 63%) 0.2846]
[14m 22s (19000 63%) 0.2784]
[14m 28s (19100 63%) 0.1845]
[14m 31s (19200 64%) 0.2357]
[14m 37s (19300 64%) 0.2065]
[14m 42s (19400 64%) 0.1269]
[14m 46s (19500 65%) 0.5534]
[14m 50s (19600 65%) 0.0140]
[14m 55s (19700 65%) 0.0885]
[15m 1s (19800 66%) 0.2572]
[15m 6s (19900 66%) 0.0190]
[15m 10s (20000 66%) 0.2658]
[15m 15s (20100 67%) 1.8136]
[15m 19s (20200 67%) 0.1105]
[15m 23s (20300 67%) 0.0678]
[15m 29s (20400 68%) 0.0129]
[15m 33s (20500 68%) 0.0674]
[15m 37s (20600 68%) 0.0109]
[15m 41s (20700 69%) 0.0221]
[15m 46s (20800 69%) 0.3102]
[15m 50s (20900 69%) 0.2354]
[15m 56s (21000 70%) 0.0203]
[16m 1s (21100 70%) 0.1380]
[16m 5s (21200 70%) 0.1098]
[16m 9s (21300 71%) 0.0112]
[16m 13s (21400 71%) 0.0108]
[16m 17s (21500 71%) 0.0949]
[16m 24s (21600 72%) 0.2149]
[16m 29s (21700 72%) 0.2765]
[16m 34s (21800 72%) 0.0205]
[16m 38s (21900 73%) 0.0253]
[16m 43s (22000 73%) 0.3681]
[16m 47s (22100 73%) 0.0120]
[16m 52s (22200 74%) 0.2559]
[16m 58s (22300 74%) 0.1959]
[17m 2s (22400 74%) 0.0744]
[17m 6s (22500 75%) 0.2389]
[17m 11s (22600 75%) 0.0518]
[17m 16s (22700 75%) 0.1904]
[17m 21s (22800 76%) 0.3337]
[17m 25s (22900 76%) 0.1570]
[17m 31s (23000 76%) 0.0770]
[17m 35s (23100 77%) 0.2765]
[17m 41s (23200 77%) 0.0136]
[17m 46s (23300 77%) 0.0350]
[17m 49s (23400 78%) 0.1146]
[17m 54s (23500 78%) 2.6699]
[17m 58s (23600 78%) 2.0193]
[18m 3s (23700 79%) 0.0126]
[18m 8s (23800 79%) 0.1402]
[18m 12s (23900 79%) 0.2152]
[18m 17s (24000 80%) 0.3144]
[18m 21s (24100 80%) 0.2085]
[18m 24s (24200 80%) 0.0119]
[18m 29s (24300 81%) 0.1974]
[18m 33s (24400 81%) 0.0116]
[18m 38s (24500 81%) 0.2237]
[18m 43s (24600 82%) 0.0823]
[18m 48s (24700 82%) 0.0085]
[18m 53s (24800 82%) 0.0112]
[18m 57s (24900 83%) 0.2548]
[19m 2s (25000 83%) 0.1192]
[19m 6s (25100 83%) 0.3259]
[19m 10s (25200 84%) 0.1869]
[19m 13s (25300 84%) 0.1159]
[19m 18s (25400 84%) 0.2266]
[19m 24s (25500 85%) 0.0933]
[19m 28s (25600 85%) 0.1157]
[19m 34s (25700 85%) 0.0354]
[19m 38s (25800 86%) 0.0905]
[19m 42s (25900 86%) 0.0136]
[19m 47s (26000 86%) 0.0509]
[19m 52s (26100 87%) 0.0912]
[19m 57s (26200 87%) 0.0129]
[20m 2s (26300 87%) 0.0940]
[20m 6s (26400 88%) 0.0109]
[20m 12s (26500 88%) 0.0571]
[20m 16s (26600 88%) 0.2664]
[20m 20s (26700 89%) 0.0369]
[20m 24s (26800 89%) 0.0504]
[20m 30s (26900 89%) 0.0850]
[20m 35s (27000 90%) 0.0118]
[20m 39s (27100 90%) 0.0123]
[20m 43s (27200 90%) 0.0993]
[20m 47s (27300 91%) 0.1171]
[20m 54s (27400 91%) 0.0295]
[20m 58s (27500 91%) 0.0560]
[21m 3s (27600 92%) 0.3009]
[21m 9s (27700 92%) 0.0116]
[21m 13s (27800 92%) 0.3251]
[21m 17s (27900 93%) 0.0129]
[21m 21s (28000 93%) 0.3914]
[21m 27s (28100 93%) 1.0187]
[21m 31s (28200 94%) 0.0995]
[21m 35s (28300 94%) 0.0128]
[21m 40s (28400 94%) 0.1334]
[21m 46s (28500 95%) 0.0176]
[21m 51s (28600 95%) 0.1009]
[21m 56s (28700 95%) 0.0121]
[22m 0s (28800 96%) 2.3056]
[22m 4s (28900 96%) 0.2362]
[22m 10s (29000 96%) 0.1588]
[22m 14s (29100 97%) 0.1441]
[22m 18s (29200 97%) 0.0515]
[22m 23s (29300 97%) 0.1661]
[22m 28s (29400 98%) 2.6634]
[22m 32s (29500 98%) 0.1481]
[22m 36s (29600 98%) 0.0132]
[22m 40s (29700 99%) 0.0491]
[22m 45s (29800 99%) 0.1059]
[22m 50s (29900 99%) 0.0117]
[22m 53s (30000 100%) 0.3264]

In [0]:
print(evaluate("Oh, how bad is it?", 1), '\n')

r

#Test

In [0]:
# carregar o dataset de test

raw_data2 = pd.read_csv('test_dataset.txt')
raw_data2.head()

   Sr No.  ...       EndTime
0       1  ...  00:14:40,378
1       2  ...  00:14:47,385
2       3  ...  00:14:57,520
3      19  ...   0:10:46,146
4      20  ...   0:10:46,833

[5 rows x 11 columns]

In [0]:
# remover colunas não relevantes

data2 = raw_data2.drop(["Sr No.", "Emotion", "Sentiment","Dialogue_ID","Utterance_ID","Season","Episode","StartTime","EndTime"], axis= 1)
data2.head()

                                           Utterance Speaker
0  Why do all youre coffee mugs have numbers on ...    Mark
1  Oh. Thats so Monica can keep track. That way ...  Rachel
2                                       Y'know what?  Rachel
3                     Come on, Lydia, you can do it.    Joey
4                                              Push!    Joey

In [0]:
#Normalizar o dataset com targets com 1 char apenas
# sendo eles: 
#   c= Chandler
#   r = Rachel
#   R = Ross
#   m = Monica
#   p = Phoebe
#   j = Joey
#   o = others speakers


for i in range(len(data2)):
    if(data2.iloc[i][-1] == 'Chandler'):
        data2.loc[i][-1] = 'c'
    elif(data2.iloc[i][-1] == 'Rachel'):
        data2.loc[i][-1] = 'r'
    elif(data2.iloc[i][-1] == 'Ross'):
        data2.loc[i][-1] = 'R'
    elif(data2.iloc[i][-1] == 'Monica'):
        data2.loc[i][-1] = 'm'
    elif(data2.iloc[i][-1] == 'Phoebe'):
        data2.loc[i][-1] = 'p'
    elif(data2.iloc[i][-1] == 'Joey'):
        data2.loc[i][-1] = 'j'
    else:
        data2.loc[i][-1] = 'o'

        
data2.sample(frac=1)        
        
data2.head()

                                           Utterance Speaker
0  Why do all youre coffee mugs have numbers on ...       o
1  Oh. Thats so Monica can keep track. That way ...       r
2                                       Y'know what?       r
3                     Come on, Lydia, you can do it.       j
4                                              Push!       j

In [0]:
#normalizar o dataset, tirando os diálogos com menos de 20 de legth
 #if(len(data1.iloc[i][0])<20):
       # data1 = data1.drop([i], axis=0)

#data1 = data1.drop([0], axis=0)
#data1 = data1.drop([1], axis=0)
data2 = data2[data2['Utterance'].map(len) > 20]
data2 = data2[data2['Speaker'] != 'o']

In [0]:
print(len(data2))
data2.head()

1468

                                           Utterance Speaker
1  Oh. Thats so Monica can keep track. That way ...       r
3                     Come on, Lydia, you can do it.       j
5        Push 'em out, push 'em out, harder, harder.       j
6               Push 'em out, push 'em out, way out!       j
7  Let's get that ball and really move, hey, hey,...       j

In [0]:
#usando o evaluate para avaliar o modelo com o dataset de test
correct = 0
loss = 0

for i in range(len(data2)):
    predict = evaluate(data2.iloc[i][0])
    label = data2.iloc[i][-1]
    if(predict == label):
        correct+=1
    
        
        
        
accuracy = correct/(len(data2))



print('Acurácia: %d%%'  % (accuracy * 100))

Acurácia: 20%